@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #222221;
  --flavus-gold: #F9DC0A;
  --flavus-graphite: #6F6F6E;
  --flavus-black: #222221;
  --flavus-white: #F6F6F6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-manrope), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: #F6F6F6;
  color: var(--foreground);
  margin: 0;
  padding: 0;
}
